.app {
    display: flex;
}

h1 {
    margin: 20px 20px;
}

#map {
    height: 50rem;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    margin: 0 20px 30px 0;
  }  

body, html {
    height: 100%;
    font-family: sans-serif;
    background-color: lightblue;
    color:white;
    text-align:center;
}

.inputs h2 {
    margin: 20px 20px;
}

.inputs {
    background-color: black;
    width: 200px;
    margin: 0 5px 30px 0;
}