.app {
    display: flex;
}

h1 {
    margin: 20px 0 5px 30px;
    font-size: 40px;
}

#map {
    height: 100vh;
    width: 100%;
    border-left: white solid 5px;
    border-bottom: white solid 5px;
  }  

body, html {
    height: 100vh;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, #9CC0E7, navy);
    color: white;
    text-align: center;
}

.inputs {
    min-width: 340px;
    padding: 0 0 30px 0;
    text-align: left;
}

.inputs h2 {
    margin: 20px 0 5px 30px;
}

#journey_planner {
    display: block;
}

#forecast_planner {
    display: none;
}

button {
    background-color: #094e78;
    color: white;
    border-radius: 5%;
    border: 1px solid white;
    margin: 5px 5px 5px 5px;
    padding: 8px 8px 8px 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#map button {
    box-shadow: 0 0 0 0;
}

#user-selector {
    display: flex;
    justify-content: center;
}

#user-selector button {
    width: 50%;
    margin: 5px 2px 5px 2px;
}

#bike-status {
    display: flex;
    justify-content: center;
}

#bike-status button {
    width: 50%;
    margin: 0 2px 0 2px;
}

#location-start {
    display: flex;
    justify-content: center;
}

.location-label {
    margin: 5px;
}

#origin {
    padding: 5px 0 5px 5px;
    display: block;
}

.pac-target-input {
  width: 285px;
}

#start_route {
    margin: 5px;
    text-align: center;
    width: 100%;
    transition: all 0.5s;
}

#start_route:active {
    background-color: #d3d3d3;
    color: black;
}

#mode-selector {
    display: flex;
    margin: 0 5px 0 0;
}

.radio-selectors {
    margin: 0 0 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.radio-selectors label,
.radio-selectors input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 5px;
    padding: 0;
}

.radio-selectors input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
    cursor: pointer;
}

.radio-selectors label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
    background-color: #094e78;
    color: white;
    border-radius: 5%;
    border: 1px solid white;
    text-align: center;
}

.radio-selectors input[type="radio"]:checked + label {
    background: #d3d3d3;
    color: black;
}

#current-weather {
    display: flex;
    height: 100px;
  }

#current-temp {
    font-size: 60px; 
    margin-top: 30px; 
    margin-bottom: 0;
}

#desc {
    margin: 20px 0 0 0;
}
  
.current-weather-info {
    flex: 1;
}

#display-forecast {
    display: flex;
    height: 90px;
    overflow: hidden;
}

.forecast-info {
    flex: 1;
}

#forecast_planner {
    padding: 5px 0 5px 5px;
}

#forecast-start {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 5px;
}

#start_prediction {
    margin: 5px;
    text-align: center;
    width: 100%;
    transition: all 0.5s;
}

#start_prediction:active {
    background-color: #d3d3d3;
    color: black;
}

#stations {
    display:block;
    padding: 5px 5px 5px 5px;
    width: 275px;
}

#forecast_date {
    display: block;
    padding: 5px 5px 5px 5px;
    width: 275px;
}

#forecast_time {
    display: block;
    padding: 5px 5px 5px 5px;
    width: 275px;
}

#chartContainer {
    display: none;
    min-width: 350px;
    background-color: white;;
    color: #094e78;
    text-align: left;
    padding: 8px 8px 8px 8px;
}

#chartContainer h1 {
    margin: 5px;
}

#chartContainer p {
    margin: 5px;
}

#charts {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding: 8px 8px 8px 8px;
}

#pred_hourly {
    margin: 20px;
}

#pred_daily {
    margin: 20px;
}

#station_info {
    padding: 5px;
}

#headInfo {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#closeCharts{
    height: 10%;
}