{% extends 'base.html' %}

{% block head %}
<title>Dublin Bike</title>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}

{% block body %}
<div class="app">

    <div class="inputs">
        <h1 style="margin-left: 15px;">Dublin Bike <img src="/static/images/bike.png" alt="bike"/></h1>

        <section id="current-weather">
            <section class="current-weather-info">
                <h1 id="current-temp"></h1>
            </section>
            <section class="current-weather-info" id="icon">
            </section>
            <section class="current-weather-info" style="text-align: left; margin-left: 5px;">
                <h2 id="desc"></h2>
                <p id="date"></p>
            </section>
        </section>

        <section id="display-forecast">
            <section class="forecast-info" id="forecast1">
            </section>
            <section class="forecast-info" id="forecast2">
            </section>
            <section class="forecast-info" id="forecast3">
            </section>
            <section class="forecast-info" id="forecast4">
            </section>
            <section class="forecast-info" id="forecast5">
            </section>
        </section>

        <h2>Select Mode</h2>
        <div id="user-selector">
            <button type="button" id="journey">Journey Planner</button>
            <button type="button" id="forecast">Forecast</button>
        </div>

        <form id="journey_planner">
            <div id="bike-status">
                <button type="button" id="getBike">Get Bike</button>
                <button type="button" id="returnBike">Return Bike</button>
            </div>

                <div class="location-label">
                    <label for="origin">Current Location</label>
                </div>
            <div class="location_section">
                <input type=text id="origin" placeholder="Enter Current Location">
                <button type="button" id="current_location">&#8982</button>
            </div>
            <div id="location-start">
                <button type="button" id="start_route">Start!</button>
            </div>
            <div id="mode-selector" class="controls">
                <div class="radio-selectors">
                    <input type="radio" name="type" id="changemode-walking" checked="checked"/>
                    <label for="changemode-walking">Walking</label>
                </div>
                <div class="radio-selectors">
                    <input type="radio" name="type" id="changemode-transit"/>
                    <label for="changemode-transit">Transit</label>
                </div>
                <div class="radio-selectors">
                    <input type="radio" name="type" id="changemode-driving"/>
                    <label for="changemode-driving">Driving</label>
                </div>
            </div>
        </form>

        <form id="forecast_planner" method="POST" action="/forecast_form">
            <label for="stations">Stations</label><input type=text id="stations" name="stations" placeholder="Enter Station"
                                                         list="stations_list">
            <datalist id="stations_list"></datalist>
            <label for="forecast_date">Date</label><input type=date id="forecast_date" name="forecast_date" min="{{ today }}" max="{{ max_date }}">
            <label for="forecast_time">Time</label><input type=time id="forecast_time" name="forecast_time" min="{{ openingTime }}" max="{{ closingTime }}">
            <div id="forecast-start">
                <button type="submit" id="start_prediction">Start!</button>
            </div>
        </form>

    </div>

    <div id="chartContainer">
        <div id="headInfo">
            <div id="station_info"></div>
            <button type="button" id="closeCharts">Close</button>
        </div>
        <div id="loading-chart-circle"></div>
        <div id="charts">
            <div id="pred_charts">
                <canvas id="pred_hourly"></canvas>
                <canvas id="pred_daily"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div id="map-container">
    <div id="loading-location-circle"></div>
    <div id="map"></div>
        </div>

    <script
            src="https://maps.googleapis.com/maps/api/js?key={{ gmkey }}&libraries=places&callback=initMap&v=weekly"
            defer
    ></script>

</div>
{% endblock %}