{% extends 'base.html' %}

{% block head %}
<title>Dublin Bikes</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Dublin Bikes 🚲</h1>
    <div class="app">

        <div class="inputs">
            <h2>Inputs</h2>
            <form>
                <label for="destination">Destination</label><input type=text id="destination" placeholder="Enter Destination">
                <button type="button" onclick="showRoute()">Start!</button>
            </form>
        </div>

        <div id="map"></div>

            <script
            src="https://maps.googleapis.com/maps/api/js?key={{ gmkey }}&libraries=places&callback=initMap&v=weekly"
            defer
            ></script>

    </div>
{% endblock %}